<!doctype html>
<html class="no-js">
<head>
  <%- bootstrap %>
  <meta http-equiv="X-UA-Compatible" content="ie=edge;chrome=1">
  <title>BigPipe.io</title>
  <meta name="description" content="BigPipe">
  <meta name="keywords" content="BigPipe, Pagelet, Framework, Node.js, Node, npm, Real-time, realtime">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.png">
  <script type="text/javascript" src="//use.typekit.net/oqm8mot.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div data-pagelet="sidebar"></div>

  <section class="documentation" style="position: relative; padding-left: 300px">
    <article data-pagelet="bigpipe"></article>
    <article data-pagelet="pagelet"></article>
    <article data-pagelet="client"></article>
  </section>
</body>
</html>
